%a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%a.brand{:href => '#'}
  My Application
.nav-collapse.collapse
  %ul.nav
    %li.active
      %a{:href => '#'}
        Home
    %li
      %a{:href => '#about'}
        About
    %li
      %a{:href => '#contact'}
        Contact
    %li.dropdown
      %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
        Dropdown
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'}
            Action
        %li
          %a{:href => '#'}
            Another Action
        %li
          %a{:href => '#'}
            Something else here
        %li.divider
        %li.nav-header
          Nav header
        %li
          %a{:href => '#'}
            Separated link
        %li
          %a{:href => '#'}
            One more separated link
  - if Application::Features::LOGIN and Application::REQUIRE_LOGIN
    - unless logged_in?
      %ul.nav.pull-right
        %li
          %a{:href => '/login'}
            Login
    - else
      %ul.nav.pull-right
        %li
          %a{:href => '/logout'}
            Logout
