development:
  authorization:
    # %%DELETE%% twitter

    github:
      id: 1234
      secret: 1234

    # %%DELETE%% facebook

    # %%DELETE%% steam

production:
  authorization:
    # %%DELETE%% twitter

    github:
      id: 1234
      secret: 1234

    # %%DELETE%% facebook

    # %%DELETE%% steam
