%h1
  Create a new user
%form{:action => "/users", :method => :post}
  %label{:for => "name"} Name:
  %input{:type => "text", :name => "name", :id => "name"}
  %br/
  %textarea{:name => "bio", :id => "bio"}
  %br/
  %input{:type => "submit", :value => "Create"}
