%h1
  = @user.name
%p
  = @user.bio

%a{:href => "/users/#{@user.id}/edit", :title => "Edit User", :alt => "Edit User"}
  Edit
|
%a{:href => "/users", :title => "Back to Users", :alt => "Back to Users"}
  Back to Users
